#dropdown-publishers-text,
#dropdown-genres-text,
input {
  width: 350px;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}
